body {
  background-image:url('github.jpg');}
  h1{
  	color:red;
  	text-align: center;
  	font-size: 60px;
  	text-shadow: 2px 2px black;
  	text-decoration: underline;
  }
 #game{
 	position:absolute;
 	left:1100px;
 	top:200px;
 }
  #fb{
  	position:absolute;
 	left:10px;
 	top:10px;
 
  }
  #quora
  {
  	position:absolute;
 	left:70px;
 	top:10px;
  }
  #brackets{position: relative;
  	left:920px;
  	top:-70px;
  	color:red;
  	text-shadow: 1px 1px black;
  }
 
  #first {
  	position: relative;
  	left:70%;
  	top:3%;
  	color:yellow;
  	text-shadow: 1px 1px black;
    text-decoration: underline; 
  }
  #me
  {font-size: 25px;
    
    color:blue;

  }
  #write
  {
  	font-size: 25px;
    
    color:orange;
  }
  #int{
  	font-size: 20px;
  	color:white;
  }
  #git
  {
  	font-size: 15px;
  	color:yellow;
  }
  #github
  {position:absolute;
 	left:130px;
 	top:10px;}
 